import(stats)
import(splines)
import(lattice)
import(grid)

export(plotfit, SSRichards)

S3method(plotfit, nls)
S3method(plotfit, list)
S3method(plot, profile.nls)
S3method(splom, profile.nls)
S3method(as.data.frame, profile.nls)


